<!DOCTYPE html>

<html>

<head>

 <title>Products</title>

 <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">>

</head>
<body>


  <div class="filter">

 </div>

 <table >

 

 <tr>

 

 <th>Retailers Name</th>

 <th>Product Name</th>

 <th>Product Brand</th>

 <th>RFID Tag</th>

 <th>Cost</th>
 
 <th>Quantity</th>


 </tr>


<tr>

 <td>Rugi</td>

 <td>Shampoo</td>

 <td>Loreal</td>

 <td>1637267489</td>

 <td>110</td>

 <td>500</td>
 
 


 </tr>

 <tr>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 </tr>

 <tr>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>


 </tr>

 <tr>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 </tr>

 <tr>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 </tr>

 <tr>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 </tr>

 <tr>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>

 <td></td>
 
 <td></td>

 </tr>

 </table>


 </body>

</html>
